GOOGLE_API_KEY=""
GOOGLE_CLIENT_ID="175829896291-kurqbip4mo4h75kgnno5lr54qnef1tsl.apps.googleusercontent.com"
QDRANT_API_KEY=""
QDRANT_URL=""
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.urjlnpjvrqbfylrwxlfc.supabase.co:5432/postgres"
DEEP_AGENT_MODEL="google_genai:gemini-2.5-flash"
AUTH_DISABLED="false"
CORS_ORIGINS="https://ai-report-gen.onrender.com,http://localhost:5175,https://deepinsightlabs25-tech.github.io,https://aion-ai-research.onrender.com"

